<header class="app-header">
    <div class="logo">
      <img src="mqj.png" alt="Logo" height="70" />
     
    </div>
    
    <nav>
      <ul>
        <li><a routerLink="/utilisateurs" routerLinkActive="active">Utilisateurs</a></li>
        <li><a routerLink="/produits" routerLinkActive="active">Produits</a></li>
        <li><a routerLink="/commandes" routerLinkActive="active">Commandes</a></li>
        <li><a routerLink="/clients" routerLinkActive="active">Clients</a></li>
      </ul>
    </nav>
  
    <div class="auth">
      <button>Connexion</button>
      
    </div>
  </header>
